* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/fonts/Panton-Light.woff") format("woff"), url("../fonts/fonts/Panton-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/fonts/Panton-Regular.woff") format("woff"), url("../fonts/fonts/Panton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/fonts/Panton-SemiBold.woff") format("woff"), url("../fonts/fonts/Panton-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/fonts/Panton-Bold.woff") format("woff"), url("../fonts/fonts/Panton-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Panton";
  src: url("../fonts/fonts/Panton-ExtraBold.woff") format("woff"), url("../fonts/fonts/Panton-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgb(242, 242, 254);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 17px 24px;
}

.header-top-bl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger-btn {
  background: unset;
  border: none;
  cursor: pointer;
}

.burger-menu {
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 55px;
  background: rgb(242, 242, 254);
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.burger-menu.show-items {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-block {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.burger-items {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.burger-item {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  background: unset;
  border: unset;
  text-decoration: none;
}

.request-btn {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgb(53, 41, 88);
  border-radius: 6px;
  padding: 14px 30px;
  background: rgb(248, 246, 255);
  cursor: pointer;
  text-decoration: none;
}

.request-btn:hover {
  color: rgb(248, 246, 255);
  background: rgb(53, 41, 88);
  border: 2px solid rgb(53, 41, 88);
  transition: 0.2s;
}

.request-btn:active {
  color: rgb(248, 248, 251);
  background: rgb(177, 168, 203);
  border: 2px solid rgb(177, 168, 203);
}

.burger-contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.burger-social-media {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.burger-items-hidden {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.show-items {
  display: flex;
}

.active {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.burger-submenu {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.header-contacts-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-contacts-miniblock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-item {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}

.heading {
  color: rgb(0, 0, 0);
  font-family: "Panton";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.main {
  padding: 0 24px;
}

.main-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-description {
  color: rgb(0, 0, 0);
  font-family: "Panton";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.vacancy-block {
  padding: 0 24px;
  margin-top: 35px;
}

.vacancy-cards {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.vacancy-card {
  border: 2px solid rgb(53, 41, 88);
  border-radius: 30px;
  background: rgb(248, 246, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px 21px 29px 21px;
  max-width: 328px;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-img > svg {
  width: 100%;
  max-height: 214px;
}

.card-name {
  color: rgb(0, 0, 0);
  font-family: "Panton";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.card-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.request-purple {
  color: rgb(248, 246, 255);
  font-family: "Panton";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgb(53, 41, 88);
  border-radius: 10px;
  background: rgb(53, 41, 88);
  width: 131px;
  height: 48px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-purple:hover {
  color: rgb(53, 41, 88);
  border: 2px solid rgb(248, 246, 255);
  background: rgb(248, 246, 255);
  transition: 0.2s;
}

.request-purple:active {
  color: rgb(248, 248, 251);
  background: rgb(177, 168, 203);
  border: rgb(177, 168, 203);
}

.request-white {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgb(53, 41, 88);
  border-radius: 10px;
  background: rgb(248, 246, 255);
  width: 131px;
  height: 48px;
  cursor: pointer;
}

.request-white:hover {
  color: rgb(248, 246, 255);
  border: 2px solid rgb(53, 41, 88);
  background: rgb(53, 41, 88);
  transition: 0.2s;
}

.request-white:active {
  color: rgb(248, 248, 251);
  background: rgb(177, 168, 203);
  border: rgb(177, 168, 203);
}

.vacancy-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.form-block {
  border: 2px solid rgb(53, 41, 88);
  border-radius: 30px;
  background: rgb(248, 246, 255);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 35px 23px;
}

.form-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(53, 41, 88);
  padding-bottom: 9.5px;
}

.form-line-no-underline {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  background: none;
  border: none;
  cursor: text;
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.form-input:focus-visible {
  outline: unset;
}

.form-label {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
}

.form-agree-label {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.form-file {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.form-content {
  padding: 45px 28px 32px 28px;
  border: none;
  display: flex;
  flex-direction: column;
}

.form-contacts {
  display: flex;
  flex-direction: column;
  gap: 45.5px;
}

.form-or {
  margin: 20px 0 15px 0;
}

.textarea-lined {
  width: 100%;
  background: none;
  border: none;
  resize: none;
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 27px, rgb(53, 41, 88) 27px, rgb(53, 41, 88) 28px);
  background-repeat: repeat;
  background-size: 100% 28px;
  padding: 0;
  margin-top: -19px;
  text-indent: 160px;
}

.checkbox-group {
  margin-bottom: 30px;
}

.form-header {
  color: rgb(0, 0, 0);
  font-family: "Panton";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.footer {
  border: 2px solid rgb(53, 41, 88);
  border-radius: 35px 35px 2px 2px;
  background: rgb(248, 246, 255);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-contact {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration-line: underline;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  gap: 20.8px;
}

.footer-year {
  color: rgb(53, 41, 88);
  font-family: "Panton";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.footer-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 34px 0 38px 0;
}

.checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  flex-shrink: 0;
}

.checkbox-check {
  position: absolute;
  top: -3px;
  left: 8.4px;
  display: none;
}

.checkbox:checked + .form-agree-label .checkbox-check {
  display: block;
}

.form-agree-label {
  display: flex;
  margin-top: 20.5px;
}/*# sourceMappingURL=styles.css.map */